html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  /* height: auto; */
}

body {
  font-family: sans-serif;
  font-weight: 400;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/bg-red.webp");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: repeat-y;
}
@media (max-width: 992px) {
  .page {
    background-image: url("../img/bg-red-768.webp");
  }
}
.page::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.btn-reset {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

[role=button],
.btn-reset {
  -webkit-tap-highlight-color: transparent;
}

.hidden {
  display: none;
}

.container {
  position: relative;
  height: 100%;
  width: min(100%, 1600px);
  padding: 0 20px;
  margin: 0 auto;
  z-index: 1;
}

.photo-wrap {
  position: relative;
  height: 100%;
}

.photo {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo-frame {
  --_transform: var(--transform);
  --_maxWidth: var(--maxWidth, 10%);
  --_lpb: var(--lpb);
  --_shadow: var(--shadow);
  --_t: var(--t);
  --_l: var(--l);
  --_zIndex: var(--zIndex, 0);
  width: var(--_maxWidth);
  padding: 6px 6px var(--_lpb, 6px);
  background-color: rgba(230, 235, 236, 0.808);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  top: var(--_t);
  left: var(--_l);
  transform: var(--_transform);
  box-shadow: var(--_shadow, 9px 3px 26px 0px rgba(0, 0, 0, 0.75));
  cursor: zoom-in;
  z-index: var(--_zIndex);
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: filter 0.4s ease, outline-color 0.4s ease, scale 0.4s ease;
}
.photo-frame:focus-visible {
  outline-color: gold;
  scale: 1.05;
}
.photo-frame:focus-visible picture {
  filter: brightness(55%);
}
@media (max-width: 600px) {
  .photo-frame {
    padding: 3px 3px var(--_lpb, 3px);
  }
}
@media (max-height: 800px) and (min-width: 576px) {
  .photo-frame {
    width: calc(var(--_maxWidth) - 7vh);
  }
}
.photo-frame:nth-child(1) {
  --maxWidth: 15%;
  --transform: perspective(60em) rotateX(40deg) rotateZ(-30deg) skewY(-4deg);
  --shadow: -11px 13px 11px 0px rgba(0, 0, 0, 0.6);
  --t: 20%;
  --l: 30%;
  --zIndex: 1;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(1) {
    --maxWidth: 20%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(1) {
    --maxWidth: 25%;
  }
}
.photo-frame:nth-child(2) {
  --maxWidth: 15%;
  --lpb: 40px;
  --transform: perspective(90em) rotateX(30deg) rotateZ(-60deg) skewY(-3deg);
  --shadow: -10px 13px 11px 0px rgba(0, 0, 0, 0.87);
  --t: 15%;
  --l: 25%;
  --zIndex: 2;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(2) {
    --maxWidth: 20%;
    --lpb: 10px;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(2) {
    --maxWidth: 25%;
  }
}
.photo-frame:nth-child(3) {
  --maxWidth: 20%;
  --t: 35%;
  --l: 55%;
  --transform: rotate(5deg) skew(-1deg, -1deg);
  --zIndex: 2;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(3) {
    --maxWidth: 25%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(3) {
    --maxWidth: 30%;
  }
}
.photo-frame:nth-child(4) {
  --maxWidth: 20%;
  --transform: perspective(90em) rotateX(30deg) rotateZ(-60deg) skewY(-3deg);
  --t: 30%;
  --l: 13%;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(4) {
    --maxWidth: 25%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(4) {
    --maxWidth: 30%;
  }
}
.photo-frame:nth-child(5) {
  --maxWidth: 30%;
  --t: 65%;
  --l: 70%;
  --transform: rotate(11deg);
  --shadow: 14px 13px 18px 0px rgba(0, 0, 0, 0.7);
}
@media (max-width: 992px) {
  .photo-frame:nth-child(5) {
    --maxWidth: 35%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(5) {
    --maxWidth: 40%;
  }
}
.photo-frame:nth-child(6) {
  --maxWidth: 25%;
  --t: 80%;
  --l: 20%;
  --transform: rotate(5deg);
  --shadow: -7px 7px 13px 0px rgba(0, 0, 0, 0.7);
}
@media (max-width: 992px) {
  .photo-frame:nth-child(6) {
    --maxWidth: 30%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(6) {
    --maxWidth: 35%;
  }
}
.photo-frame:nth-child(7) {
  --maxWidth: 16%;
  --t: 50%;
  --l: 10%;
  --transform: rotateX(3deg) rotateY(3deg) rotateZ(-119deg);
  --shadow: -13px -5px 20px 0px rgba(0, 0, 0, 0.87);
  transform-origin: 48% 50% 0px;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(7) {
    --maxWidth: 21%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(7) {
    --maxWidth: 26%;
  }
}
.photo-frame:nth-child(8) {
  --maxWidth: 12%;
  --t: 50%;
  --l: 55%;
  --transform: rotate(7deg);
  --zIndex: 2;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(8) {
    --maxWidth: 17%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(8) {
    --maxWidth: 22%;
  }
}
.photo-frame:nth-child(9) {
  --maxWidth: 13%;
  --transform: perspective(90em) rotateX(20deg) rotateZ(-30deg) skewY(-3deg);
  --shadow: -3px 13px 11px 0px rgba(0, 0, 0, 0.87);
  --t: 10%;
  --l: 10%;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(9) {
    --maxWidth: 18%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(9) {
    --maxWidth: 23%;
  }
}
.photo-frame:nth-child(10) {
  --maxWidth: 20%;
  --shadow: 8px 6px 11px 0px rgba(0, 0, 0, 0.6);
  --transform: rotateX(11deg) rotateY(-11deg) rotateZ(7deg);
  --t: 15%;
  --l: 50%;
  transform-origin: 50% 50% 0px;
  --zIndex: 1;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(10) {
    --maxWidth: 25%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(10) {
    --maxWidth: 30%;
  }
}
.photo-frame:nth-child(11) {
  --maxWidth: 10%;
  --transform: rotateX(7deg) rotateY(-2deg) rotateZ(-12deg);
  --t: 10%;
  --l: 75%;
  --shadow: 5px 7px 19px 0px rgba(0, 0, 0, 0.87);
  transform-origin: 50% 50% 0px;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(11) {
    --maxWidth: 15%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(11) {
    --maxWidth: 20%;
  }
}
.photo-frame:nth-child(12) {
  --maxWidth: 17%;
  --t: 75%;
  --l: 50%;
  --transform: rotate(80deg);
  --shadow: -1px 12px 11px 0px rgba(0, 0, 0, 0.87);
}
@media (max-width: 992px) {
  .photo-frame:nth-child(12) {
    --maxWidth: 22%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(12) {
    --maxWidth: 27%;
  }
}
.photo-frame:nth-child(13) {
  --maxWidth: 19%;
  --t: 30%;
  --l: 85%;
  --transform: rotateX(12deg) rotateZ(24deg);
  --shadow: 12px 4px 11px 0px rgba(0, 0, 0, 0.6);
  transform-origin: 51% 50% 0px;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(13) {
    --maxWidth: 24%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(13) {
    --maxWidth: 29%;
  }
}
.photo-frame:nth-child(14) {
  --maxWidth: 14%;
  --t: 37%;
  --l: 75%;
  --transform: rotateX(13deg) rotateY(4deg) rotateZ(-15deg);
  transform-origin: 50% 50% 0px;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(14) {
    --maxWidth: 19%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(14) {
    --maxWidth: 24%;
  }
}
.photo-frame:nth-child(15) {
  --maxWidth: 25%;
  --t: 48%;
  --l: 25%;
  --transform: rotateX(6deg) rotateY(7deg) rotateZ(-11deg);
  --shadow: -16px 9px 11px 0px rgba(0, 0, 0, 0.87);
  transform-origin: 50% 50% 0px;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(15) {
    --maxWidth: 30%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(15) {
    --maxWidth: 35%;
  }
}
.photo-frame:nth-child(16) {
  --maxWidth: 18%;
  --t: 35%;
  --l: 38%;
  --transform: rotateX(6deg) rotateY(7deg) rotateZ(-11deg);
  --shadow: -9px 9px 11px 0px rgba(0, 0, 0, 0.5);
  transform-origin: 50% 50% 0px;
}
@media (max-width: 992px) {
  .photo-frame:nth-child(16) {
    --maxWidth: 23%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(16) {
    --maxWidth: 28%;
  }
}
.photo-frame:nth-child(17) {
  --maxWidth: 13%;
  --t: 38%;
  --l: -5%;
  --transform: rotateX(4deg) rotateZ(15deg);
  transform-origin: 50% 50% 0px;
  --shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.87);
}
@media (max-width: 992px) {
  .photo-frame:nth-child(17) {
    --maxWidth: 18%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(17) {
    --maxWidth: 23%;
  }
}
.photo-frame:nth-child(18) {
  --maxWidth: 25%;
  --t: 62%;
  --l: 30%;
  --transform: rotateX(4deg) rotateZ(15deg);
  transform-origin: 50% 50% 0px;
  --shadow: 0px 14px 26px 0px rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
  .photo-frame:nth-child(18) {
    --maxWidth: 30%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(18) {
    --maxWidth: 35%;
  }
}
.photo-frame:nth-child(19) {
  --maxWidth: 17%;
  --t: -2%;
  --l: 45%;
  --transform: rotateX(4deg) rotateZ(10deg);
  transform-origin: 50% 50% 0px;
  --shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.87);
}
@media (max-width: 992px) {
  .photo-frame:nth-child(19) {
    --maxWidth: 22%;
  }
}
@media (max-width: 600px) {
  .photo-frame:nth-child(19) {
    --maxWidth: 27%;
  }
}

.zoom {
  --_transform: var(--transform);
  --_maxWidth: var(--maxWidth, 10%);
  --_lpb: var(--lpb);
  --_shadow: var(--shadow);
  --_t: var(--t);
  --_l: var(--l);
  --_zIndex: var(--zIndex, 0);
  --opacity: 1;
}
.zoom.in {
  animation: fadeOutPhoto 0.3s linear forwards, showZoomed 0.5s 0.3s linear forwards;
}
.zoom.out {
  animation: hideZoomed 0.5s linear forwards, fadeInPhoto 0.3s linear 0.5s forwards;
}

@keyframes fadeOutPhoto {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInPhoto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showZoomed {
  0% {
    opacity: 0;
    --_transform: var(--transform);
    --_maxWidth: var(--maxWidth, 10%);
    --_shadow: var(--shadow);
  }
  50% {
    opacity: 0;
    z-index: 100;
    transform: unset;
    width: 40vw;
    box-shadow: unset;
  }
  100% {
    opacity: 1;
    z-index: 100;
    transform: unset;
    width: 40vw;
    box-shadow: unset;
  }
}
@keyframes hideZoomed {
  0% {
    opacity: 1;
    z-index: 100;
    transform: unset;
    width: 40vw;
    box-shadow: unset;
  }
  100% {
    opacity: 0;
    --_transform: var(--transform);
    --_maxWidth: var(--maxWidth, 10%);
    --_shadow: var(--shadow);
  }
}/*# sourceMappingURL=index.css.map */